body {
  font-family: system-ui, 
    -apple-system, BlinkMacSystemFont, 
    "Segoe UI", 
    "Roboto", 
    "Oxygen", 
    "Ubuntu", 
    "Cantarell", 
    "Fira Sans", 
    "Droid Sans", 
    "Helvetica Neue", 
    Arial, sans-serif;
  line-height: 1.4;
}

code {
  font-family: ui-monospace, 
    Menlo, Monaco, 
    "Cascadia Mono", "Segoe UI Mono", 
    "Roboto Mono", 
    "Oxygen Mono", 
    "Ubuntu Mono", 
    "Source Code Pro",
    "Fira Mono", 
    "Droid Sans Mono", 
    "Consolas", "Courier New", monospace;
  background: #eee;
}

a {
  text-decoration: none;
  color: #005da9;
}
body.show-visited a:visited {
  color: #8714b0;
}

a:hover, a:focus {
  text-decoration: underline;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px 12px;
}

#header {
  margin-bottom: 24px;

}

h1 {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 24px;
}

h2.section-name {
  padding: 6px 3px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 13px;
  background: #eee;
}
p {
  margin-bottom: 12px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service {
  width: 100%;
  padding: 12px 0;
  margin: 0 3px;
  border-bottom: 1px solid #ddd;
}
.service:last-child {
  border-bottom: none;
}
.styles {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
}
.service-name {
  font-weight: 600;
  color: #333;
}
.style {
  font-size: 11px;
  font-weight: 600;
}
.style:not(:last-child)::after {
  content: " · ";
  display: inline-block;
  margin: 0 2px;
}

.icon-links {
  float: right;
}
.icon-links img {
  height: 16px;
}
.icon-links a {
  opacity: 0.65;
}
.icon-links a:hover, .icon-links a:focus {
  opacity: 1;
}

#footer {
  margin: 96px 12px 48px 12px;
  text-align: center;
}

#settings {
  margin-bottom: 24px;
}
