body {
  font-family: system-ui, 
    -apple-system, BlinkMacSystemFont, 
    "Segoe UI", 
    "Roboto", 
    "Oxygen", 
    "Ubuntu", 
    "Cantarell", 
    "Fira Sans", 
    "Droid Sans", 
    "Helvetica Neue", 
    Arial, sans-serif;
  line-height: 1.4;
}

code {
  font-family: ui-monospace, 
    Menlo, Monaco, 
    "Cascadia Mono", "Segoe UI Mono", 
    "Roboto Mono", 
    "Oxygen Mono", 
    "Ubuntu Mono", 
    "Source Code Pro",
    "Fira Mono", 
    "Droid Sans Mono", 
    "Consolas", "Courier New", monospace;
  background: #eee;
}

a {
  text-decoration: none;
  color: #005da9;
}
body.show-visited a:visited {
  color: #8714b0;
}

a:hover, a:focus {
  text-decoration: underline;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 24px 0;
}

button, a.button {
  display: inline-block;
  background: white;
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75em;
  line-height: 1.4;
  color: inherit;
}
button:hover, button:focus, a.button:hover, a.button:focus {
  background: #eee;
  text-decoration: none;
}

#filter-wrap {
  position: relative;
}
#filter-wrap:has(#filter:placeholder-shown) #clear-filter {
  display: none;
}
#filter-wrap:has(#filter:focus) img {
  opacity: 0.9;
}
#filter-wrap img {
  position: absolute;
  left: 8px;
  top: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.65;
  pointer-events: none;
}
#filter {
  width: 100%;
  border-radius: 20px;
  font-size: 15px;
  padding: 0 16px 0 32px;
  height: 40px;
  border: 1px solid #ccc;
  margin-bottom: 24px;
}
#filter:focus {
  border-color: #aaa;
}
#clear-filter {
  right: 0;
  height: 40px;
  width: 40px;
  border-radius: 0 20px 20px 0;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.65;
}
#clear-filter:hover, #clear-filter:focus {
  opacity: 1;
}
#header-desc {
  margin-bottom: 24px;
}
#map-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}
#map {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #ccc;
  pointer-events: none;
}
#map-wrap.editing #map-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
  border-radius: 10px;
}
#map-wrap.editing #map {
  pointer-events: unset;
}
#map-wrap.editing .editing-off {
  display: none;
}
#map-wrap:not(.editing) .editing-on {
  display: none;
}
#map-wrap .left, #map-wrap .right, #map-wrap .top {
  position: absolute;
}
#map-wrap .left {
  left: 10px;
}
#map-wrap .right {
  right: 10px;
}
#map-wrap .top {
  top: 10px;
}
#map-wrap.editing #edit-loc {
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
}
#map-wrap.no-loc > *:not(.map-off) {
  display: none;
}
#map-wrap > .map-off {
  display: none;
}
#map-wrap.no-loc > *.map-off {
  display: unset;
}
#add-loc {
  width: 100%;
  padding: 10px;
}
.crosshair {
  width: 16px;
  height: 16px;
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
  opacity: 0.55;
  pointer-events: none;
}

#container {
  max-width: 680px;
  margin: 0 auto;
  padding: 24px 12px;
}

h1 {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 18px;
}

h2.section-name {
  padding: 6px 3px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 13px;
  background: #eee;
}
p {
  margin-bottom: 18px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service {
  width: 100%;
  padding: 12px 0;
  margin: 0 3px;
  border-bottom: 1px solid #ddd;
}
.service:last-child {
  border-bottom: none;
}
.styles {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
}
.service-name {
  font-weight: 600;
  color: #333;
}
.style {
  font-size: 11px;
  font-weight: 600;
}
.style:not(:last-child)::after {
  content: " · ";
  display: inline-block;
  margin: 0 2px;
}

.service-top {
  display: flex;
  justify-content: space-between;
}
.icon-links img {
  height: 16px;
}
.icon-links a {
  margin-left: 4px;
}
a.faded-link {
  opacity: 0.75;
}
a.faded-link:hover, a.faded-link:focus {
  opacity: 1;
}

#settings {
  text-align: center;
}

#footer {
  margin: 24px 12px 24px 12px;
  text-align: center;
}

#settings {
  margin-bottom: 24px;
}
